/src/bin/*
/src/obj/*
packages/*
/.vs/**/.suo
**/bin/**
**/obj/**
/.vs/Serilog.Sinks.ElmahCore/DesignTimeBuild/.dtbcache.v2
/examples/AspNetCoreExample/AspNetCoreExample.csproj.user
/output/*
/src/packages/**
